*{
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    gap : 150px;
}
a{
    color: black;
    text-decoration: none;
}
li{
    margin: 30px;
}
#main_size{
    margin: 0 auto;
    width: 1500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(236,225,207,0.3);
    overflow: hidden;   
}
#mainTitle{
    position: relative;
    left: 30px;
}
#headline{
    /* border : 1px solid black; */
    display: flex;
    height: 100px;
    width: 1500px;
    align-items: center;
    position: fixed;
    background-color: rgba(213,213,213,0.4);
}
#menu{
    width: 800px;
    margin-left: 200px;
}
#top{
    margin: 0 auto;
    width: 1500px;
    height: 1000px;
    background-image: url("../images/head_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
#head_radios{
    display: flex;
    align-items: end;
}

#middle{
    width: 1500px;
    margin: 150px 10px 30px 10px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
#middle_img{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.img{
    margin-bottom : 40px;
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
.img_box{
    padding: 64px;
    width: 400px;
    height: 300px;
    margin: 20px 0px;
    border-left: 1px solid rgba(213,213,213,0.4);
    border-right: 1px solid rgba(213,213,213,0.4);
    
}
.img_box h3, .img_box p{
    text-align: center;
}
input[type='radio']{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(213,213,213,0.4);
    background-color: white;
    margin: 20px;
}
input[type='radio']:checked{
    background-color: rgba(213,213,213);
}

#popularity{
    margin-top: 200px;
}

@keyframes mymove {
    0% { right: 0px; }   /* 시작 위치 (화면 밖) */
    25% { right: 500px;}
    50% { right: 1000px; }     /* 중간 위치 (화면 안) */
    75% { right: 1500px; }
    100% { right: 2040px; } /* 끝 위치 (화면 밖) */
}
#bottom{
    position: relative;
    animation: mymove 10s infinite;
    
}

#product_ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    animation-timing-function: linear;
}

footer{
    background-color:rgba(236,225,207,0.2);
    height: 200px;
    display: flex;
    gap : 40px;
}
footer div{
    width: 600px;
    padding: 50px;
    line-height: 30px;
}